
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    font-size: 5rem;
    grid-row: 2/4;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(202, 202, 202);
}
h3{
    font-size: 2.5rem;
}
.top{
    height: 6rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top img{
    background-color: red;
    padding-left: 1rem;
    height: 5rem; width: 6rem;
}
.top ul{
    display: flex;
    font-size: 5rem;

}
.top ul li{
    margin-right: 1rem;
    display: flex;
    align-self: center;
    width: 10rem;
    color: white;
    background-color: red;
}
li{
    list-style: none;
}

.batch{
    height: 38.6rem; width: 100%;
    background-color:#FF121F;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: solid 2px rgb(204, 0, 0);
}
.batch-img{
    grid-column: 1/7;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/20/10/27/kinkaku-ji-2328557_960_720.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    
}
.titulo{
    grid-column: 7/13;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    color: white;
    text-align: center;
}

.titulo p{
    font-size: 3.5rem;
    grid-row: 4/6;
}
.why h2{
    background-color:#FF3D47;
}
.oportunidades{
    padding: 1rem 10% 3rem;
    display: flex;
    justify-content: space-between;
    background-color:#FF3D47;
}


h2{
    text-align: center;
    font-size: 4rem;
    padding: 2rem 0px 1rem 0px;
    color: white;
}
.oportunidad{ 
    padding: 2rem 2rem;
    width: 42%;
    font-size: 3rem;
    text-align: justify;
    background-color: white;
    border-radius: 1rem;
}
.oportunidad img{
    width: 100%;
    height: 30rem;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.oportunidad p,
.oportunidad h3{
    background-color: #ffffff
}
/*
body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}*/

.contenedor {
    padding: 2rem 4% 3rem;
	width: 100%;
	margin: auto;
    background-color:#FF3D47;
}
.contenedor h2{
font-size: 4rem;
font-weight: bold;
color: white;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
    font-size: 5rem;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}
.contenido-principal__imagen{
    height: 28rem;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: black;
    text-align: justify;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 3rem;
	height: 4rem;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: white;
	opacity: .5;
}
.carousel__contenedor i{
    border: none;
    font-size: 4.5rem;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -35px;
}

.carousel__siguiente {
	right: -35px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 5px;
	background: #fff;
	opacity: .3;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
/*
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}
*/


/*
.eventos{
    height: 90rem;
    padding: 1rem 5% 2.5rem;
    color: white;
    background-color: red;
}
.event{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.evento-img{
    grid-column: 1/8;
    /*height: 40rem;
}
.evento-img img{
    height: 40rem;
    border-radius: 0.3rem;
}
.evento-content{
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-align: justify;
}*/
.h2-estudiantes{
    background-color:#FF3D47;
    color:white;
}
.estudiantes{
    padding: 1rem 6% 2rem;
    display: flex;
    justify-content: space-between;
    background-color:#FF3D47;
}
.estudiante{
    background-color: white;
    padding: 1rem 2% 1.5rem;
    border-radius: 0.5rem;
    width: 30%;
}

.estudiante img{
    height: 30rem;
    width: 100%;
    margin-bottom: 0.4rem;
}
.estudiante p{
    font-size: 1.8rem;
    text-align: justify;
}
.estudiante h3{
    border-top: solid 0.2px rgb(61, 61, 61);
}
.h2-docentes{
    background-color: #FF121F;
    color: white;
}
.profesores{
    background-color: #FF121F;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4% 2rem;
}
.profesor{
    background-color: #ffffff;
    padding: 1rem 1%;
    width: 23%;
    font-size: 3rem;
    border-radius: 0.5rem;
}
.profesor h3{
    border-top: solid 0.2px rgb(61, 61, 61);
}
.profesor img{
    width: 100%;
    margin-bottom: 0.4rem;
}
.instalaciones{
    background-color: #FF121F;
    display: flex;
    padding: 1rem 10% 2rem;
}
.direccion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
}
.direccion h2{
    background-color: #FF121F;
    border: none;
    margin-top: 1rem;
}
.direccion p{
    margin-top: 7rem;
    font-size: 3rem;
    text-align: center;
}


.contacto{
    padding: 1rem 4% 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color:#FF3D47;
    font-size: 5rem;
}

.foto-contacto{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-contacto img{
    height: 100%; width: 90%;
}

.contacto-form{
    grid-column: 3/6;
    
}

.contacto-form h2{
    background-color:#FF3D47;
    border: none;
    text-align: left;
    color: white;
}
.contacto-form form{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}
.contacto-form form label{
    display: block;
    color: #e6e6e6;
    font-size: 2rem;
}
.contacto-form form input{
    height: 3.5rem;
    width: 100%;
    border: none;
    border-bottom: solid #C8C8C8 0.1rem;
    font-size: 2rem;
}

#text-box{
    height: 10rem;
}
form button{
    background-color: #FF8F00;
    border: solid 2px red ;
    color:white;
    height: 5rem;
    font-size: 2rem;
    width: 30%;
}
.social-media{
    padding: 2rem 10% 2rem;
    display: flex;
    justify-content: space-around;
}
.social-media svg{
    height: 6rem;
    width: 6rem;
}
footer{
    background-color:red;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 2rem;
}
